body {
  font-family: "Roboto Condensed", sans-serif;
}
  .card {
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 8px;
    display: flex;
  }
  
  img {
    min-width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: black;
    aspect-ratio: 1/1; /* Quadratisches Seitenverhältnis */
    overflow: hidden; /* Falls das Bild größer als das Container-Element ist */
  }