@import url("https://fonts.googleapis.com/css?family=Noto+Serif|Roboto+Condensed");

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  margin: 0;
  background: #262626;
}
body * {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: "Noto Serif", serif;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #5c6971;
}
a:hover {
  color: #03cdfd;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}
.button {
  display: inline-block;
  padding: 0 20px;
  line-height: 50px;
  background: #03cdfd;
  color: #fff;
  text-decoration: none;
}
.button:hover {
  color: #eee;
}

#logo {
  height: 60px;
  margin-top: 20px;
}

section {
  background: #fff;
}
section .keyvisual {
  position: relative;
  background-size: cover;
  background-image: url(keyvisual.jpg);
  height: 65vh;
  min-height: 800px;
}
section .keyvisual:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
section .keyvisual .text {
  position: absolute;
  bottom: 40px;
  left: 10px;
  color: #fff;
  z-index: 100;
}
section .keyvisual .text h1 {
  font-size: 50px;
  margin: 20px 0;
}
section .keyvisual .text h2 {
  font-weight: 300;
  font-size: 20px;
  margin: 20px 0;
  text-transform: uppercase;
}
section .keyvisual .wrapper {
  height: 100%;
}
section aside {
  position: absolute;
  top: 200px;
  left: 10px;
  background: #03cdfd;
  border: 1px solid #ccc;
  padding: 20px;
}
section aside h2 {
  margin-top: 0;
}
section aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
section aside ul li {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
section aside ul li:last-child {
  border-bottom: none;
}
section aside ul li a {
  line-height: 30px;
  text-decoration: none;
}
section .teaser ul {
  list-style: none;
  margin: 0 -10px;
  padding: 40px 0;
}
section .teaser ul:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}
section .teaser ul li {
  width: 50%;
  display: inline-block;
  float: left;
  position: relative;
  overflow: hidden;
  padding: 10px;
}
section .teaser ul li img {
  width: 100%;
}
section .teaser ul li h2 {
  margin-top: 50px;
}
section .teaser ul li .text {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  bottom: -100%;
  background: #276cf7;
  transition: background 0.5s, bottom 0.5s;
}
section .teaser ul li:hover .text {
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
}
